<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
  </head>
  <body class="bg-light">
    <header><%- include('../components/nav'); %></header>

    <div class="container py-4">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Articles de blog</h1>
        <div class="d-flex">
          <a href="/categories/articles" class="mx-3 btn btn-outline-dark">
            Catégories d'articles
          </a>
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Ajouter un nouveau article
          </button>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form action="" class="needs-validation">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Ajouter d'un nouveau fichier
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row g-4 mb-3">
                  <div class="col">
                    <label for="exampleInputEmail1" class="form-label"
                      ><span class="text-danger">*</span>Titre</label
                    >
                    <input
                      type="email"
                      required
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="col">
                    <label for="exampleInputEmail1" class="form-label"
                      ><span class="text-danger">*</span>Catégorie</label
                    >
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Choisissez une catégorie</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label"
                    >Image de couverture</label
                  >
                  <input
                    class="form-control"
                    type="file"
                    id="formFile"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    ><span class="text-danger">*</span>Contenu de
                    l'article</label
                  >
                  <div id="quill-editor" style="min-height: 400px"></div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Annuler
                </button>
                <button type="submit" class="btn btn-dark">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <table id="articles" class="table table-bordered" style="width: 100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Slug</th>
            <th>Catégorie</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>
              <div class="d-flex gap-3">
                <button class="btn btn-sm btn-outline-danger">
                  <i class="ri-delete-bin-6-line"></i>
                </button>
                <button class="btn btn-sm btn-outline-primary">
                  <i class="ri-edit-box-line"></i>
                </button>
                <button class="btn btn-sm btn-outline-success">
                  <i class="ri-eye-line"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer><%- include('../components/footer'); %></footer>
  </body>
</html>

<script defer>
  $(document).ready(function () {
    var dataTable = $('#articles').DataTable();
  });
  const quill = new Quill('#quill-editor', {
    theme: 'snow',
  });
</script>
