<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../components/head'); %>
  </head>
  <body class="bg-light">
    <header><%- include('../components/nav'); %></header>

    <div class="container py-4">
      <h1>Podcasts</h1>
      <table id="podcasts" class="table table-bordered" style="width: 100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Slug</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <footer><%- include('../components/footer'); %></footer>
  </body>
</html>

<script defer>
  $(document).ready(function () {
    var dataTable = $("#podcasts").DataTable();
  });
</script>
